@model List<Product>
<span>@TempData["msg"]</span>
<partial name="Notification" />
<a asp-controller="Product" asp-action="AddProduct">
    <input type="submit" name="name" value="Add Product " class="btn btn-sm btn-warning" />
    </a>
<div class="container-fluid">
    <div class="row">
        @foreach(var a in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@a.Picture" class="card-img-top" alt="..." width="100%" height="200px">
                <div class="card-body">
                    <h5 class="card-title">@a.Pname</h5>
                   
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Categoery : @a.Pcat</li>
                    <li class="list-group-item">Price : @a.Price</li>
                   
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-warning">Add To Card</a>
                    
                </div>
            </div>
        }
    </div>
</div>