
@model List<Emp>
@{
    ViewData["Title"] = "Index";
}

<partial name="Notification"></partial>

@* <span style="color:green">@TempData["msg"] @TempData["deletemsg"]  @TempData["update"]</span> *@
<form method="post" class="d-flex">
    <input class="form-control me-2" name="Name" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<h1>Index</h1>

<h4>Emp</h4>
<hr />
            <div class="form-group">
                <a asp-controller="EmpController1" asp-action="AddEmp">

                  <input type="submit" value="Create" class="btn btn-primary" />
               </a> 
            </div>
<form method="post" asp-controller="EmpController1" asp-action="DelecteEmp">
<div class="row">
    
   
    <table class="table" id="mytable">
        <thead>
            <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Salary</th>
                <th scope="col">Email</th>
                <th scope="col"> CheckBox</th>
                <th scope="col"> Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var a in Model)
            {
                
            <tr>
                <th scope="row">@a.Name</th>
                <td>@a.Email</td>
                <td>@a.salary</td>
                  <td>
                        <a asp-controller="EmpController1" asp-action="DeleteEmp" asp-route-id="@a.Id"><input type="button" class="btn btn-danger" name="name" value="Delete" /></a>
                        <a asp-controller="EmpController1" asp-action="UpdateEmp" asp-route-id="@a.Id"><input type="button" class="btn btn-success" name="name" value="Edit" /></a>
                  </td>

                    <td>
                        
                                <input type="checkbox" id="mulid" name="mulid" value="@a.Id" />

                       
                    </td>

                        <td>
                           @*  <form asp-controller="EmpController1" asp-action="Email" asp-route-id="@a.Id" method="post"> *@

                            <a asp-controller="EmpController1" asp-action="email" asp-route-id="@a.Id"><input type="button" name="Email" value="Email" class="btn btn-primary" /></a>
                                
                          @*   </form> *@
                        </td>
                       
                   

                
                
            </tr>
            }
        </tbody>
    </table>
       <a ><input type="submit" class="btn btn-success" name="name" value="Delete" /></a>
    </div>
</form>



@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@
@section Scripts{
    <link href="https://cdn.datatables.net/v/bs5/dt-2.1.4/af-2.7.0/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/datatables.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-2.1.4/af-2.7.0/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#mytable').DataTable({
                dom: 'Bftip',
                buttons: [
                    'copy', 'csv', 'pdf'
                ]
            });
        });
    </script>
}

